// ---alpheus-managed-start---
**/*.hash
.alpheus/storage
data/5foldCvSplits/*.consonant_stats.csv
data/5foldCvSplits/*.root_stats.csv
data/5foldCvSplits/*.val_ids.csv
data/5foldCvSplits/*.vowel_stats.csv
data/bengaliai-cv19-png-preview/
data/bengaliai-cv19.zip
data/bengaliai-cv19/
experiment_outputs/dgrechka_1_mobileNetV2_bottleneck/*/
experiment_outputs/dgrechka_2_NASNetMobile_bottleneck/*/
experiment_outputs/dgrechka_4_NASNetMobile_full_transfer_learning/*/
venv-gpu/
// ---alpheus-managed-end---
__pycache__
**/.ipynb_checkpoints
help
venv-gpu
.paket
.ionide
.vscode
packages
paket-files
