// ---alpheus-managed-start---
**/*.hash
.alpheus/storage
data/5foldCvSplits/*.consonant_stats.csv
data/5foldCvSplits/*.root_stats.csv
data/5foldCvSplits/*.val_ids.csv
data/5foldCvSplits/*.vowel_stats.csv
data/bengaliai-cv19.zip
data/bengaliai-cv19/
venv-gpu/
// ---alpheus-managed-end---
__pycache__
**/.ipynb_checkpoints
help
venv-gpu
.paket
.ionide
.vscode
packages
paket-files
